  <div class="product-detail-title">
    <a href="https://www.decathlon.co.uk/sports/basketball/basketball-shoes">
      <h1>Basketball Shoes</h1>
    </a>
    <img src="/assets/images/product-name-logo.svg" class="dots-logo" alt="" width="16" height="16">
  </div>

  <ul class="carousel">
    {% comment %} {% for image in product.images %} {% endcomment %}
    <li class="carousel_slide">
      <picture>
        {% comment %} <source 
          srcset="{{ image.url }}?format=avif&width=300" 
          type="image/avif"
        >

        <source 
          srcset="{{ image.url }}?format=webp&width=300" 
          type="image/webp"
        > {% endcomment %}

        <img 
          src="https://contents.mediadecathlon.com/p3056661/k$024349b9e45d85cda56c09c74e8d1ce1/picture.jpg?format=auto&f=3000x0" 
          alt="{{ product.name }}"
          alt="{{ product.title }}" 
          fetchpriority="{% if forloop.first %}high{% else %}auto{% endif %}"
          loading="{% if forloop.first %}eager{% else %}lazy{% endif %}" 
          width="300" 
          height="300"
        >
      </picture>
    </li>
    {% comment %} {% endfor %} {% endcomment %}
</ul>
{% comment %} 
 deze erin zetten als fotos in directus staan
    //src="{{ image.url }}?width=300" //

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 2/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056794/k$548d28576089b2ba9a878cf0a407f290/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 3/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 4/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 5/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 6/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 7/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 8/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 9/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 10/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>
  </ul> {% endcomment %}

<section class="product-info">
  <p class="brand-name">{{ product.brand }}</p>
  <h2 class="product-name">{{ product.title }}</h2>

  <div class="review-rating">
    <span>★★★★☆</span>
    <span class="rating_count">| 4 reviews</span>
  </div>

  <p>{{ product.summary }}</p>

  <p class="product-id">ID {{ product.id }}</p>
</section>
<div class="select-wrapper">
  <label for="size">Size</label>
  <select class="select" id="size" name="size-select">
    <option value="" disabled selected hidden>Select</option>
    {% for size in product.sizes %}
      {% if size.available %}
        <option value="EU {{ size.size }}">EU {{ size.size }}</option>
      {% else %}
        <option value="EU {{ size.size }}" disabled>EU {{ size.size }} - Sold out</option>
      {% endif %}
    {% endfor %}
  </select>
</div>

<button popovertarget="size-guide">Size guide</button>

<p popover id="size-guide">Size guide</p>

<div class="input-wrapper">
  <button class="minus">-</button>
    <label for="quantity">Quantity</label>
    <input type="number" value="1" class="quantity" id="quantity" min="1">
  <button class="plus">+</button>
</div>

<p>${{ product.price }}</p>

<button type="submit" class="add-to-cart-button">Add to basket</button>